<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.pjvandehaar.nvalt-scratchpad</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>84F9A0D3-1B9C-4258-8D12-9AAB6C988985</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D53A636-460F-47D0-A1EA-F5D97E99F5DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>pjvandehaar</string>
	<key>description</key>
	<string>Open an nvALT scratchpad by a hotkey</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hotkey to nvALT scratchpad</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>
-- note:
-- in the nvalt preferences window,
-- in the tab "General",
-- uncheck "Quit when closing window".

on get_rand_str(len)
	set randomString to ""

	repeat with x from 1 to len
		set randomChar to ASCII character (random number from 48 to 57)
		set randomString to randomString &amp; randomChar
	end repeat
	return randomString
end get_rand_str

on alfred_script(q)

	tell application "nvALT"
		-- close and reopen to get it in the current space
		close window 1
		reopen
		search "scratch " &amp; my get_rand_str(6)
		activate
	end tell

	-- for now I don't want the automatic enter.
	--delay 0.5 -- gotta delay to catch the text
	--tell application "System Events"
	--	key code 36  --  36 is return, to go to the text area.
	--end tell

end alfred_script

</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>7D53A636-460F-47D0-A1EA-F5D97E99F5DD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>84F9A0D3-1B9C-4258-8D12-9AAB6C988985</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7D53A636-460F-47D0-A1EA-F5D97E99F5DD</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>84F9A0D3-1B9C-4258-8D12-9AAB6C988985</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/pjvandehaar/alfred-workflow-nvalt-scratchpad</string>
</dict>
</plist>
